openapi: 3.1.0
info:
  title: Azure Service Bus Management Namespaces Subscriptions API
  description: The Azure Service Bus REST API provides operations for managing Service Bus resources including namespaces, queues, topics, subscriptions, and rules through the Azure Resource Manager.
  version: '2021-11-01'
  contact:
    name: Microsoft Azure
    url: https://azure.microsoft.com/en-us/products/service-bus
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- azure_auth:
  - user_impersonation
tags:
- name: Subscriptions
  description: Service Bus topic subscription operations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions
  : get:
      operationId: Subscriptions_ListByTopic
      summary: Azure Service Bus List Subscriptions for a Topic
      description: List all the subscriptions under a specified topic.
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/NamespaceName'
      - name: topicName
        in: path
        required: true
        schema:
          type: string
        example: example_value
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBSubscriptionListResult'
              examples:
                SubscriptionsListbytopic200Example:
                  summary: Default Subscriptions_ListByTopic 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      name: Example Title
                      type: example_value
                      properties: {}
                    nextLink: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}
  : get:
      operationId: Subscriptions_Get
      summary: Azure Service Bus Get a Subscription
      description: Returns a subscription description for the specified topic.
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/NamespaceName'
      - name: topicName
        in: path
        required: true
        schema:
          type: string
        example: example_value
      - name: subscriptionName
        in: path
        required: true
        schema:
          type: string
        example: example_value
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBSubscription'
              examples:
                SubscriptionsGet200Example:
                  summary: Default Subscriptions_Get 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    properties:
                      lockDuration: example_value
                      requiresSession: true
                      defaultMessageTimeToLive: example_value
                      deadLetteringOnFilterEvaluationExceptions: true
                      deadLetteringOnMessageExpiration: true
                      duplicateDetectionHistoryTimeWindow: example_value
                      maxDeliveryCount: 10
                      status: Active
                      enableBatchedOperations: true
                      autoDeleteOnIdle: example_value
                      forwardTo: example_value
                      forwardDeadLetteredMessagesTo: example_value
                      isClientAffine: true
                      countDetails:
                        activeMessageCount: 10
                        deadLetterMessageCount: 10
                        scheduledMessageCount: 10
                        transferMessageCount: 10
                        transferDeadLetterMessageCount: 10
                      createdAt: '2026-01-15T10:30:00Z'
                      updatedAt: '2026-01-15T10:30:00Z'
                      messageCount: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: Subscriptions_CreateOrUpdate
      summary: Azure Service Bus Create or Update a Subscription
      description: Creates a topic subscription.
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/NamespaceName'
      - name: topicName
        in: path
        required: true
        schema:
          type: string
        example: example_value
      - name: subscriptionName
        in: path
        required: true
        schema:
          type: string
        example: example_value
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBSubscription'
            examples:
              SubscriptionsCreateorupdateRequestExample:
                summary: Default Subscriptions_CreateOrUpdate request
                x-microcks-default: true
                value:
                  id: abc123
                  name: Example Title
                  type: example_value
                  properties:
                    lockDuration: example_value
                    requiresSession: true
                    defaultMessageTimeToLive: example_value
                    deadLetteringOnFilterEvaluationExceptions: true
                    deadLetteringOnMessageExpiration: true
                    duplicateDetectionHistoryTimeWindow: example_value
                    maxDeliveryCount: 10
                    status: Active
                    enableBatchedOperations: true
                    autoDeleteOnIdle: example_value
                    forwardTo: example_value
                    forwardDeadLetteredMessagesTo: example_value
                    isClientAffine: true
                    countDetails:
                      activeMessageCount: 10
                      deadLetterMessageCount: 10
                      scheduledMessageCount: 10
                      transferMessageCount: 10
                      transferDeadLetterMessageCount: 10
                    createdAt: '2026-01-15T10:30:00Z'
                    updatedAt: '2026-01-15T10:30:00Z'
                    messageCount: 10
      responses:
        '200':
          description: Subscription updated or created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBSubscription'
              examples:
                SubscriptionsCreateorupdate200Example:
                  summary: Default Subscriptions_CreateOrUpdate 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    properties:
                      lockDuration: example_value
                      requiresSession: true
                      defaultMessageTimeToLive: example_value
                      deadLetteringOnFilterEvaluationExceptions: true
                      deadLetteringOnMessageExpiration: true
                      duplicateDetectionHistoryTimeWindow: example_value
                      maxDeliveryCount: 10
                      status: Active
                      enableBatchedOperations: true
                      autoDeleteOnIdle: example_value
                      forwardTo: example_value
                      forwardDeadLetteredMessagesTo: example_value
                      isClientAffine: true
                      countDetails:
                        activeMessageCount: 10
                        deadLetterMessageCount: 10
                        scheduledMessageCount: 10
                        transferMessageCount: 10
                        transferDeadLetterMessageCount: 10
                      createdAt: '2026-01-15T10:30:00Z'
                      updatedAt: '2026-01-15T10:30:00Z'
                      messageCount: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: Subscriptions_Delete
      summary: Azure Service Bus Delete a Subscription
      description: Deletes a subscription from the specified topic.
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/NamespaceName'
      - name: topicName
        in: path
        required: true
        schema:
          type: string
        example: example_value
      - name: subscriptionName
        in: path
        required: true
        schema:
          type: string
        example: example_value
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Subscription deleted
        '204':
          description: No content
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    NamespaceName:
      name: namespaceName
      in: path
      required: true
      description: The namespace name.
      schema:
        type: string
    ResourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      description: Name of the resource group.
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
        default: '2021-11-01'
    SubscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID.
      schema:
        type: string
  schemas:
    SBSubscriptionListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SBSubscription'
          example: []
        nextLink:
          type: string
          example: example_value
    SBSubscription:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          example: abc123
        name:
          type: string
          readOnly: true
          example: Example Title
        type:
          type: string
          readOnly: true
          example: example_value
        properties:
          type: object
          properties:
            lockDuration:
              type: string
            requiresSession:
              type: boolean
            defaultMessageTimeToLive:
              type: string
            deadLetteringOnFilterEvaluationExceptions:
              type: boolean
            deadLetteringOnMessageExpiration:
              type: boolean
            duplicateDetectionHistoryTimeWindow:
              type: string
            maxDeliveryCount:
              type: integer
            status:
              type: string
              enum:
              - Active
              - Disabled
              - Restoring
              - SendDisabled
              - ReceiveDisabled
              - Creating
              - Deleting
              - Renaming
              - Unknown
            enableBatchedOperations:
              type: boolean
            autoDeleteOnIdle:
              type: string
            forwardTo:
              type: string
            forwardDeadLetteredMessagesTo:
              type: string
            isClientAffine:
              type: boolean
            countDetails:
              type: object
              readOnly: true
              properties:
                activeMessageCount:
                  type: integer
                  format: int64
                deadLetterMessageCount:
                  type: integer
                  format: int64
                scheduledMessageCount:
                  type: integer
                  format: int64
                transferMessageCount:
                  type: integer
                  format: int64
                transferDeadLetterMessageCount:
                  type: integer
                  format: int64
            createdAt:
              type: string
              format: date-time
              readOnly: true
            updatedAt:
              type: string
              format: date-time
              readOnly: true
            messageCount:
              type: integer
              format: int64
              readOnly: true
          example: example_value
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
