openapi: 3.1.0
info:
  title: Azure Service Bus Management Namespaces Queues API
  description: The Azure Service Bus REST API provides operations for managing Service Bus resources including namespaces, queues, topics, subscriptions, and rules through the Azure Resource Manager.
  version: '2021-11-01'
  contact:
    name: Microsoft Azure
    url: https://azure.microsoft.com/en-us/products/service-bus
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- azure_auth:
  - user_impersonation
tags:
- name: Queues
  description: Service Bus queue operations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues
  : get:
      operationId: Queues_ListByNamespace
      summary: Azure Service Bus List Queues
      description: Gets the queues within a namespace.
      tags:
      - Queues
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/ApiVersion'
      - name: $skip
        in: query
        schema:
          type: integer
        example: 10
      - name: $top
        in: query
        schema:
          type: integer
        example: 10
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBQueueListResult'
              examples:
                QueuesListbynamespace200Example:
                  summary: Default Queues_ListByNamespace 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      name: Example Title
                      type: example_value
                      properties: {}
                    nextLink: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}
  : get:
      operationId: Queues_Get
      summary: Azure Service Bus Get a Queue
      description: Returns a description for the specified queue.
      tags:
      - Queues
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/NamespaceName'
      - name: queueName
        in: path
        required: true
        schema:
          type: string
        example: example_value
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBQueue'
              examples:
                QueuesGet200Example:
                  summary: Default Queues_Get 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    properties:
                      lockDuration: example_value
                      maxSizeInMegabytes: 10
                      requiresDuplicateDetection: true
                      requiresSession: true
                      defaultMessageTimeToLive: example_value
                      deadLetteringOnMessageExpiration: true
                      duplicateDetectionHistoryTimeWindow: example_value
                      maxDeliveryCount: 10
                      status: Active
                      enableBatchedOperations: true
                      autoDeleteOnIdle: example_value
                      enablePartitioning: true
                      enableExpress: true
                      forwardTo: example_value
                      forwardDeadLetteredMessagesTo: example_value
                      countDetails:
                        activeMessageCount: 10
                        deadLetterMessageCount: 10
                        scheduledMessageCount: 10
                        transferMessageCount: 10
                        transferDeadLetterMessageCount: 10
                      createdAt: '2026-01-15T10:30:00Z'
                      updatedAt: '2026-01-15T10:30:00Z'
                      messageCount: 10
                      sizeInBytes: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: Queues_CreateOrUpdate
      summary: Azure Service Bus Create or Update a Queue
      description: Creates or updates a Service Bus queue.
      tags:
      - Queues
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/NamespaceName'
      - name: queueName
        in: path
        required: true
        schema:
          type: string
        example: example_value
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBQueue'
            examples:
              QueuesCreateorupdateRequestExample:
                summary: Default Queues_CreateOrUpdate request
                x-microcks-default: true
                value:
                  id: abc123
                  name: Example Title
                  type: example_value
                  properties:
                    lockDuration: example_value
                    maxSizeInMegabytes: 10
                    requiresDuplicateDetection: true
                    requiresSession: true
                    defaultMessageTimeToLive: example_value
                    deadLetteringOnMessageExpiration: true
                    duplicateDetectionHistoryTimeWindow: example_value
                    maxDeliveryCount: 10
                    status: Active
                    enableBatchedOperations: true
                    autoDeleteOnIdle: example_value
                    enablePartitioning: true
                    enableExpress: true
                    forwardTo: example_value
                    forwardDeadLetteredMessagesTo: example_value
                    countDetails:
                      activeMessageCount: 10
                      deadLetterMessageCount: 10
                      scheduledMessageCount: 10
                      transferMessageCount: 10
                      transferDeadLetterMessageCount: 10
                    createdAt: '2026-01-15T10:30:00Z'
                    updatedAt: '2026-01-15T10:30:00Z'
                    messageCount: 10
                    sizeInBytes: 10
      responses:
        '200':
          description: Queue updated or created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBQueue'
              examples:
                QueuesCreateorupdate200Example:
                  summary: Default Queues_CreateOrUpdate 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    properties:
                      lockDuration: example_value
                      maxSizeInMegabytes: 10
                      requiresDuplicateDetection: true
                      requiresSession: true
                      defaultMessageTimeToLive: example_value
                      deadLetteringOnMessageExpiration: true
                      duplicateDetectionHistoryTimeWindow: example_value
                      maxDeliveryCount: 10
                      status: Active
                      enableBatchedOperations: true
                      autoDeleteOnIdle: example_value
                      enablePartitioning: true
                      enableExpress: true
                      forwardTo: example_value
                      forwardDeadLetteredMessagesTo: example_value
                      countDetails:
                        activeMessageCount: 10
                        deadLetterMessageCount: 10
                        scheduledMessageCount: 10
                        transferMessageCount: 10
                        transferDeadLetterMessageCount: 10
                      createdAt: '2026-01-15T10:30:00Z'
                      updatedAt: '2026-01-15T10:30:00Z'
                      messageCount: 10
                      sizeInBytes: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: Queues_Delete
      summary: Azure Service Bus Delete a Queue
      description: Deletes a queue from the specified namespace.
      tags:
      - Queues
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/NamespaceName'
      - name: queueName
        in: path
        required: true
        schema:
          type: string
        example: example_value
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Queue deleted
        '204':
          description: No content
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SBQueueListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SBQueue'
          example: []
        nextLink:
          type: string
          example: example_value
    SBQueue:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          example: abc123
        name:
          type: string
          readOnly: true
          example: Example Title
        type:
          type: string
          readOnly: true
          example: example_value
        properties:
          type: object
          properties:
            lockDuration:
              type: string
              description: Lock duration timespan (ISO 8601).
            maxSizeInMegabytes:
              type: integer
            requiresDuplicateDetection:
              type: boolean
            requiresSession:
              type: boolean
            defaultMessageTimeToLive:
              type: string
            deadLetteringOnMessageExpiration:
              type: boolean
            duplicateDetectionHistoryTimeWindow:
              type: string
            maxDeliveryCount:
              type: integer
            status:
              type: string
              enum:
              - Active
              - Disabled
              - Restoring
              - SendDisabled
              - ReceiveDisabled
              - Creating
              - Deleting
              - Renaming
              - Unknown
            enableBatchedOperations:
              type: boolean
            autoDeleteOnIdle:
              type: string
            enablePartitioning:
              type: boolean
            enableExpress:
              type: boolean
            forwardTo:
              type: string
            forwardDeadLetteredMessagesTo:
              type: string
            countDetails:
              type: object
              readOnly: true
              properties:
                activeMessageCount:
                  type: integer
                  format: int64
                deadLetterMessageCount:
                  type: integer
                  format: int64
                scheduledMessageCount:
                  type: integer
                  format: int64
                transferMessageCount:
                  type: integer
                  format: int64
                transferDeadLetterMessageCount:
                  type: integer
                  format: int64
            createdAt:
              type: string
              format: date-time
              readOnly: true
            updatedAt:
              type: string
              format: date-time
              readOnly: true
            messageCount:
              type: integer
              format: int64
              readOnly: true
            sizeInBytes:
              type: integer
              format: int64
              readOnly: true
          example: example_value
  parameters:
    NamespaceName:
      name: namespaceName
      in: path
      required: true
      description: The namespace name.
      schema:
        type: string
    ResourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      description: Name of the resource group.
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
        default: '2021-11-01'
    SubscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
