openapi: 3.1.0
info:
  title: Azure Service Bus Management Namespaces API
  description: The Azure Service Bus REST API provides operations for managing Service Bus resources including namespaces, queues, topics, subscriptions, and rules through the Azure Resource Manager.
  version: '2021-11-01'
  contact:
    name: Microsoft Azure
    url: https://azure.microsoft.com/en-us/products/service-bus
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- azure_auth:
  - user_impersonation
tags:
- name: Namespaces
  description: Service Bus namespace operations
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/namespaces:
    get:
      operationId: Namespaces_List
      summary: Azure Service Bus List All Namespaces
      description: Gets all the available namespaces within the subscription.
      tags:
      - Namespaces
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBNamespaceListResult'
              examples:
                NamespacesList200Example:
                  summary: Default Namespaces_List 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      name: Example Title
                      type: example_value
                      location: example_value
                      tags: example_value
                      sku: {}
                      properties: {}
                    nextLink: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces:
    get:
      operationId: Namespaces_ListByResourceGroup
      summary: Azure Service Bus List Namespaces by Resource Group
      description: Gets the available namespaces within a resource group.
      tags:
      - Namespaces
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBNamespaceListResult'
              examples:
                NamespacesListbyresourcegroup200Example:
                  summary: Default Namespaces_ListByResourceGroup 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      name: Example Title
                      type: example_value
                      location: example_value
                      tags: example_value
                      sku: {}
                      properties: {}
                    nextLink: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}
  : get:
      operationId: Namespaces_Get
      summary: Azure Service Bus Get a Namespace
      description: Gets a description for the specified namespace.
      tags:
      - Namespaces
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBNamespace'
              examples:
                NamespacesGet200Example:
                  summary: Default Namespaces_Get 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    location: example_value
                    tags: example_value
                    sku:
                      name: Basic
                      tier: Basic
                      capacity: 10
                    properties:
                      provisioningState: example_value
                      status: example_value
                      createdAt: '2026-01-15T10:30:00Z'
                      updatedAt: '2026-01-15T10:30:00Z'
                      serviceBusEndpoint: example_value
                      metricId: '500123'
                      zoneRedundant: true
                      disableLocalAuth: true
                      minimumTlsVersion: '1.0'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: Namespaces_CreateOrUpdate
      summary: Azure Service Bus Create or Update a Namespace
      description: Creates or updates a Service Bus namespace.
      tags:
      - Namespaces
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBNamespace'
            examples:
              NamespacesCreateorupdateRequestExample:
                summary: Default Namespaces_CreateOrUpdate request
                x-microcks-default: true
                value:
                  id: abc123
                  name: Example Title
                  type: example_value
                  location: example_value
                  tags: example_value
                  sku:
                    name: Basic
                    tier: Basic
                    capacity: 10
                  properties:
                    provisioningState: example_value
                    status: example_value
                    createdAt: '2026-01-15T10:30:00Z'
                    updatedAt: '2026-01-15T10:30:00Z'
                    serviceBusEndpoint: example_value
                    metricId: '500123'
                    zoneRedundant: true
                    disableLocalAuth: true
                    minimumTlsVersion: '1.0'
      responses:
        '200':
          description: Namespace updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBNamespace'
              examples:
                NamespacesCreateorupdate200Example:
                  summary: Default Namespaces_CreateOrUpdate 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    location: example_value
                    tags: example_value
                    sku:
                      name: Basic
                      tier: Basic
                      capacity: 10
                    properties:
                      provisioningState: example_value
                      status: example_value
                      createdAt: '2026-01-15T10:30:00Z'
                      updatedAt: '2026-01-15T10:30:00Z'
                      serviceBusEndpoint: example_value
                      metricId: '500123'
                      zoneRedundant: true
                      disableLocalAuth: true
                      minimumTlsVersion: '1.0'
        '201':
          description: Namespace created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBNamespace'
              examples:
                NamespacesCreateorupdate201Example:
                  summary: Default Namespaces_CreateOrUpdate 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    location: example_value
                    tags: example_value
                    sku:
                      name: Basic
                      tier: Basic
                      capacity: 10
                    properties:
                      provisioningState: example_value
                      status: example_value
                      createdAt: '2026-01-15T10:30:00Z'
                      updatedAt: '2026-01-15T10:30:00Z'
                      serviceBusEndpoint: example_value
                      metricId: '500123'
                      zoneRedundant: true
                      disableLocalAuth: true
                      minimumTlsVersion: '1.0'
        '202':
          description: Namespace create/update request accepted
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: Namespaces_Delete
      summary: Azure Service Bus Delete a Namespace
      description: Deletes an existing namespace.
      tags:
      - Namespaces
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Namespace deleted
        '202':
          description: Namespace delete request accepted
        '204':
          description: No content
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    NamespaceName:
      name: namespaceName
      in: path
      required: true
      description: The namespace name.
      schema:
        type: string
    ResourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      description: Name of the resource group.
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
        default: '2021-11-01'
    SubscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID.
      schema:
        type: string
  schemas:
    SBNamespaceListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SBNamespace'
          example: []
        nextLink:
          type: string
          example: example_value
    SBNamespace:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          example: abc123
        name:
          type: string
          readOnly: true
          example: Example Title
        type:
          type: string
          readOnly: true
          example: example_value
        location:
          type: string
          example: example_value
        tags:
          type: object
          additionalProperties:
            type: string
          example: example_value
        sku:
          type: object
          properties:
            name:
              type: string
              enum:
              - Basic
              - Standard
              - Premium
            tier:
              type: string
              enum:
              - Basic
              - Standard
              - Premium
            capacity:
              type: integer
          example: example_value
        properties:
          type: object
          properties:
            provisioningState:
              type: string
              readOnly: true
            status:
              type: string
              readOnly: true
            createdAt:
              type: string
              format: date-time
              readOnly: true
            updatedAt:
              type: string
              format: date-time
              readOnly: true
            serviceBusEndpoint:
              type: string
              readOnly: true
            metricId:
              type: string
              readOnly: true
            zoneRedundant:
              type: boolean
            disableLocalAuth:
              type: boolean
            minimumTlsVersion:
              type: string
              enum:
              - '1.0'
              - '1.1'
              - '1.2'
          example: example_value
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
